@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100%;
  padding: 0 32px;
}



a {
  text-decoration: none;
  font-family: futura-pt;
}   

.btn {
  line-height: 1rem !important;
}

.btn-link{
  color: #FF4E00;
}


/*Type Hierarchy based on a Major Third*/  
h1, h2, h3, h4, h5
.h1, .h2, .h3, .h4, .h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700 !important;
  line-height: 1.2; 
  font-family: linotype-didot, serif !important;
}

h1, .h1 {
  font-size: 3.052rem; 
}
h2, .h2 {
  font-size: 2.441rem; 
}

h3, .h3 {
  font-size: 1.953rem; 
}

h4, .h4 {
  font-size: 1.563rem; 
}

h5, .h5 {
  font-size: 1.25rem;
  font-family: linotype-didot, serif !important;
 }
 
p {
	font-family: futura-pt, serif;
	font-size: 1rem;
}

a {
  color: #2fb0e3  !important;
  text-decoration: none !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-weight: 600 !important;
}

.btn-primary{
  background-color:rgb(255, 66, 66) !important;
  color: white !important;
  border: none !important;
  padding: 15px 30px !important;
  border-radius: 0;
  font-weight: 600 !important;
  min-width: 160px;
  max-height: 48px;
}

.btn-primary:hover {
  background-color:rgb(192, 31, 31) !important;
  border: none !important; 
  padding: 15px 30px;
}

.btn-secondary {
  border-radius: 0;
  background: black;
  padding: 15px 30px;
  font-weight: 700;
}

.modelNote{
  font-size: 0.79em;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 960px !important;
}

.navbar {
  background: secondary;
}

.bg-primary {
  background: white !important;
}

.card-img-top {
  height: 500px !important;
}


.navbar {
  border-bottom: 1px gray solid;
  margin-bottom: 50px;
}


footer {
  background: rgb(0, 0, 0);
  text-align: center;
  margin-top: 100px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 40px;
  line-height: 1rem;
  color: white;
  left: 0;
}

h1.mont-lora, h2.mont-lora, h3.mont-lora, h4.mont-lora, h5.mont-lora {
  font-family: "Montserrat", sans-serif !important ;
}
p.mont-lora, a.mont-lora {
font-family: "Lora", sans-serif !important;
font-weight: 400;
}




h1.raleway, h2.raleway, h3.raleway, h4.raleway, h5.raleway {
  font-family: "Raleway", sans-serif !important ;
  font-weight: 700 !important;
}
p.raleway, a.raleway {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500;
  }
  
th {
  font-weight: unset !important;
}

h1.play-open, h2.play-open, h3.play-open, h4.play-open, h5.play-open {
  font-family: "Playfair Display", serif !important ;
  font-weight: 700 !important;
}

p.play-open, a.play-open {
  font-family: "Open Sans", sans-serif !important ;
}

h1.raleway {
	font-size: 1.802rem;
  
}

h2.raleway {
	font-size: 1.602rem;
}

h3.raleway{
	font-size: 1.424rem;
}

h4.raleway {
  font-size: 1.266rem;
}
h5.raleway  {
  font-size:  1.125rem;
}


.bold {
  font-weight: 600;
}


.raleway.bold {
  font-weight: 600;
}

h1.play-open {
	font-size: 4.209rem;
}

h2.play-open {
	font-size: 3.157rem;
}

h3.play-open{
	font-size: 2.369rem;
}

h4.play-open {
  font-size: 1.777rem;
}
h5.play-open  {
  font-size:  1.333rem;
}




.navbar-brand {
  color: black !important;
  transition: all 300ms;

}

.navbar-brand:hover {
  color: rgb(116, 116, 116) !important;
  transition: all 300ms;
}

.card-text {
  height: 50px !important;
}

.nav-item {
  margin-right: 20px;
}

.nav-item .active {
  font-weight: 700;
  color: rgb(255, 66, 66) !important;

}

.nav-item a {
  text-decoration: none !important;
  color: black !important;
  transition: all 300ms;

}


.nav-item a:hover {
  text-decoration: none !important;
  color: rgb(255, 66, 66) !important;
  transition: all 300ms;
}

.navbar-brand {
  margin-right: 50px !important;
}

.card-logo {
  display: block;
  margin: auto;
  margin-bottom: 44px;
}

.text-center {
  text-align: center;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.col.portfolio {
  height:400px;
  width: 400px !important;
  display: grid;
  align-items: center;
  justify-items: center;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;

}


.portfolio-image {
  height: 350px;
  width: 350px;
  position: relative;
}

#project-1 {
  position: relative;
  background-color: lightgray;
  transition: all 300ms;
  display: grid;
  align-items: center;
  justify-items: center;
}

#project-1::before {
  content: " Project  ";
  color: black;
  font-family: linotype-didot, serif;
  font-size: 2rem;
  text-decoration: none !important;
  position: relative;
  transition: all 300ms;
  opacity: 0;
  margin: auto;
  top: 20px;
}

#project-1:hover::before {
  opacity: 1;
  transition: all 300ms;
  top: 70px;
}

.width-760 {
  max-width: 760px !important;
}

.width-420 {
  max-width: 420px !important;
}

#logo {
 height: 64px;
 width: auto;
 margin-left: 32px;
}

#nav {
  max-width: 1280px;
margin: auto;
position: fixed;
z-index: 50;
background: white;
height: 100px;
left: 50%;
transform: translateX(-50%);
}

.before-after {
  height: 100%;
  width: 100%;
  position: relative;
}

.before-after::before {
  content: "";
  height: 110px;
  width: 300px;
  background: rgb(247, 247, 247);
  position: absolute;
  z-index: -1;
  left: 15%;
  top: -20px;
}

.before-after::after {
  content: "";
  height: 110px;
  width: 300px;
  background: #83f2d644;
  position: absolute;
  z-index: -1;
  right: 15%;
  bottom: -50px;
}

.navbar-light .navbar-toggler {
  border: none !important;
  color: black !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
flex-basis: auto !important;
}

.project-image{
  height:450px;
  width: 450px; 
  background-color: gray;
}

.sample-image {
  height: 350px;
  width: 350px;
  background-color: gray;
}

.spacer {
  height: 1px;
  width: 100%;
  background-color: rgb(236, 236, 236);
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: row !important;
  }
  .navbar {
    border-bottom: none;
    margin-bottom: 50px;
    box-shadow: 0px 6px 10px rgb(235, 235, 235);
    border-radius: 0 0 10px 10px;
  }

  .container-fluid {
    padding: 0 !important;
  }

  body {
    padding: 0 24px;
  }
}

@media (max-width: 900px) {
  .project-image{
    height:350px;
    width: 350px; 
    background-color: gray;
  }
}

@media (max-width: 460px) {
  #logo {
    height: 32px;
    width: auto;
    margin-left: 24px;
   }
   .project-image{
    height:300px;
    width: 300px; 
    background-color: gray;
  }
}

@media (max-width: 375px) {
   .portfolio-image {
    height: 275px;
    width: 275px;
    position: relative;
  } 

  .project-image{
    height:250px;
    width: 250px; 
    background-color: gray;
  }
}